.row
    .col-12
        a(
            class="btn btn-primary m-1"
            href="/userSocial/not-friend"
        ) Danh sách người dùng 
        a(
            class="btn btn-primary m-1"
            href="/userSocial/friends"
        ) Danh sách bạn bè
        a(
            class="btn btn-primary m-1"
            href="/userSocial/request"
        ) Lời mời đã gửi
        a(
            class="btn btn-primary m-1"
            href="/userSocial/accept"
        ) 
            | Lời mời kết bạn
            span(
                class="badge badge-light"
                badge-users-accept=user.id
            ) #{user.acceptFriends.length}