extends ../../layouts/default.pug  
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug
block main 
    +alert-success(5000)
    +alert-error(5000)
    if(role.permissions.includes("accounts_view"))
        .card.mb-3 
            .card-header Bộ lọc và tìm kiếm.
            .card-body 
                .row
                    .col-6
                        // mixin filterStarus
                        +filter-status(filterStatus)
                    .col-6
                        +searchHelper(keyword)
        .card.mb-3 
            .card-header Sắp xếp  
            .card-body
                .row 
                    .col-4 
                        +sortUser()
        h1(class="mb-4") Danh sách tài khoản 

        .card.mb-3 
            .card-header Danh sách 
            .card-body 
                .row 
                    .col-8 
                    .col-4.text-right 
                        if(role.permissions.includes("accounts_create"))
                            a(
                                href=`${prefixAdmin}/accounts/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới

                table(
                    class="table table-hover table-sm"
                )
                    thead
                        tr 
                            th STT 
                            th Avatar 
                            th Họ tên  
                            th Email 
                            th SĐT
                            th Trạng thái 
                            th Vai trò
                            th Hành động
                            th Người cập nhật
                    tbody 
                        each item, index in records
                            tr 
                                td #{index+1}
                                td
                                    img(
                                        src=item.avatar? item.avatar:"https://res.cloudinary.com/dyppifz1z/image/upload/v1747908416/bbt0u0sge20rhgmlmwvv.png"
                                        alt=item.fullName
                                        width="100px"
                                        height="auto"
                                    )
                                td #{item.fullName}
                                td #{item.email}
                                td #{item.phone}
                                td
                                    if(role.permissions.includes("users_edit"))
                                        if (item.status=="active")
                                            a(
                                                href="javascript:;"
                                                data-status=item.status
                                                data-id=item.id
                                                button-change-status
                                                class="badge text-bg-success"
                                            ) Hoạt động
                                        else 
                                            a(
                                                href="javascript:;"
                                                data-status=item.status
                                                data-id=item.id
                                                button-change-status 
                                                class="badge text-bg-danger"
                                            ) Dừng hoạt động
                                    else    
                                        if (item.status=="active")
                                            span(
                                                data-id=item.id
                                                class="badge text-bg-success"
                                            ) Hoạt động
                                        else 
                                            span(
                                                data-status=item.status
                                                data-id=item.id 
                                                class="badge text-bg-danger"
                                            ) Dừng hoạt động
                                td
                                    if(role.permissions.includes("users_edit"))
                                        if (item.role=="MANAGER")
                                            a(
                                                href="javascript:;"
                                                data-role=item.role
                                                data-id=item.id
                                                button-change-role
                                                class="badge text-bg-success"
                                            ) Quản lý
                                        else 
                                            a(
                                                href="javascript:;"
                                                data-role=item.role
                                                data-id=item.id
                                                button-change-role 
                                                class="badge text-bg-danger"
                                            ) Người dùng
                                    else    
                                        if (item.role=="MANAGER")
                                            a(
                                                href="javascript:;"
                                                data-role=item.role
                                                class="badge text-bg-success"
                                            ) Quản lý
                                        else 
                                            a(
                                                href="javascript:;"
                                                data-role=item.role
                                                class="badge text-bg-danger"
                                            ) Người dùng
                                td 
                                    a(
                                        href=`${prefixAdmin}/users/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                        ) Chi tiết
                                    if(role.permissions.includes("users_delete"))
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                            button-delete
                                            data-id=item.id
                                        ) Xoá
                                td 
                                    - const updatedBy = item.updatedBy?.slice(-1)[0]
                                        if (updatedBy)
                                            p #{updatedBy.accountFullName}
                                            +formatDateTime(updatedBy.updatedAt) 

        +Pagitation(pagitation) 

        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/users/delete`
        )  
        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/users/change-status`
        ) 
        form(
            action=""
            method="POST"
            id="form-change-role"
            data-path=`${prefixAdmin}/users/change-role_user`
        ) 
        script(src="/Admin/Js/userScript.js")

    else 
        h1 Bạn không có quyền